.header {
  background-color: #74B1BB;
  height:100px;
  border-top: 3px solid gray;
  border-bottom: 3px solid black;
}

nav{
  float: right;
  font-size: 30px;
  color:black;
  margin-top: 30px;
  margin-right: 10px;
}

.About {
  background-color: #E6ECED;
}

.ImageP{
  background-color: #CBD5D7;
  height: 340px;
}

.ImageP img {
  margin-left: 100px;
}
.Experience {
  height:80px;
  background-color: #74B1BB;
  border-top: 3px solid gray;
  border-bottom: 3px solid black;
}




/*
body{
  background-color: #E8EBEE;
  margin:auto;

}

header {
    background-color: #C2DBF4;
    color: white;
    text-align: center;
    height: 100px;
    overflow: auto;
    border-bottom: 2px inset;
}
/*Container*/
/*.wrapper{
  width: 800px;
  margin:auto;
  border-right: 2px groove;
  border-left:2px groove;

}
main{
  background-color:#94B8FA;
  text-align: left;
  width:460px;
  padding:9px;
  display: inline-block;
  border-right: 1px groove;
}

nav {
  margin-top:40px;
}
aside {
  background-color:#A2CFD5;
  text-align: left;
  width:335px;
  padding:10px;
  display: inline-block;
  float: right;
  height: 525px;
}
aside h3 {
  text-align: center; font-size: 25px;
}

aside h3:hover {
  text-align: center;
  font-size: 25px;
   color:#E6ECED;
  border-bottom: 1px dashed gray;
  border-top: 1px dashed white;
  cursor: pointer;
}

main h1 {
  font-size: 25px;
}

main h1:hover {
  font-size: 25px; color:#E6ECED; border-bottom: 1px dashed gray;
  border-top: 1px dashed white; cursor: pointer;

}

footer
{
  background-color:#C2DBF4;
  padding:20px;
  text-align: center;
  height:100px;
  font-size: 30px;
}

a {text-decoration: none;
    list-style-type: none;
    border-right: 2px solid white;
    padding: 2px;
    font-size: 25px; float: right;
  margin-right: 8px; color: black;}

a:hover {text-decoration: none;
    list-style-type: none;
    font-size: 25px; float: right;
  margin-right: 8px; color:#4B69A0; border-right: 2px solid black;
}

@media screen and (max-width: 480px) {
  header {
    display:none;
  }
  aside {width:100%; padding:10px;float:none;height: auto;font-size: 15px;}
  main {width:100%;
  padding:10px;margin: -10px;font-size: 13px; height: auto;}

  footer{width:100%; padding:10px; height: auto; margin:-8px;}

  .wrapper{width:100%; height: auto;}

  @media screen and (max-width: 600px) {
  header {
    width:100%; padding:10px; margin-left: -10px; font-size: 15px; height:auto;
  }
  main {width:100%;
  padding-right:20px;margin: -10px;font-size: 15px; height: auto;}

  aside {width:100%; padding:10px;margin: -10px;float:none;height: auto;font-size: 15px;}
  aside h3 {font-size: 20px; padding-left: 10px;}
  aside ul {}
  aside ul li {}

  .container{width:100%; height: auto;}

  footer{width:100%; padding:20px; height: auto; margin:-8px;}
  footer h4{font-size: 20px;}
}*/*/
