
body{
  background-color: #E8EBEE;
  margin:auto;

}

header {
    background-color: #C2DBF4;
    color: white;
    text-align: center;
    height: 100px;
    overflow: auto;
}

.wrapper{width: 800px;
  margin:auto;
  border-right: 2px groove;
  border-left:2px groove;

}
main{
  background-color:#4F90D1;
  text-align: left;
  width:460px;
  padding:10px;
  display: inline-block;
}
aside {
  background-color:#CAE6EB;
  text-align: left;
  width:300px;
  padding:10px;
  display: inline-block;
  float: right;
  height: 505px;
}

footer{
  background-color:#AFBCD6;
  padding:20px;
  text-align: center;
  height:100px;
}
a {text-decoration: none;
    list-style-type: none;
    border-right: 2px solid white;
    padding: 2px;
    font-size: 25px; float: right;
  margin-right: 8px; color: black;}

a:hover {text-decoration: none;
    list-style-type: none;
    font-size: 25px; float: right;
  margin-right: 8px; color:#4B69A0; border-right: 2px solid black;
}

@media screen and (max-width: 480px) {
  header {
    width:100%; padding:10px; margin-left: -10px; font-size: 15px; height:auto;
  }
  aside {width:100%; padding:10px;float:none;height: auto;font-size: 15px;}
  main {width:100%;
  padding:10px;margin: -10px;font-size: 13px; height: auto;}

  footer{width:100%; padding:10px; height: auto; margin:-8px;}

  .wrapper{width:100%; height: auto;}

  @media screen and (max-width: 600px) {
  header {
    width:100%; padding:10px; margin-left: -10px; font-size: 15px; height:auto;
  }
  main {width:100%;
  padding-right:20px;margin: -10px;font-size: 15px; height: auto;}

}
