.header {
  background-color: #74B1BB;
  height:100px;
  border-top: 3px solid gray;
  border-bottom: 3px solid black;
}

.container {
  border-right: 3px solid black;
  border-left: 3px solid black;
  height:1000px;
}
nav{
  float: right;
  font-size: 30px;
  color:black;
  margin-top: 30px;
  margin-right: 10px;
}

.About {
  background-color: #E6ECED;
}

.ImageP{
  background-color: #CBD5D7;
  height: 340px;
}

.ImageP img {
  margin-left: 100px;
  border-left: 3px gray solid;
  border-right: 3px gray solid;
}
.Experience {
  height:80px;
  background-color: #74B1BB;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.Education {
  background-color:#E6ECED;
  height: 400px;
  border-top: 3px solid black;
}
.work-experience {
  background-color:#CBD5D7 ;
  height: 400px;
  border-top: 3px solid black;
}






/*body{
  background-color: #E8EBEE;
  margin:auto;



a:hover {text-decoration: none;
    list-style-type: none;
    font-size: 25px; float: right;
  margin-right: 8px; color:#4B69A0; border-right: 2px solid black;
}*/

@media screen and (max-width: 480px) {
  header {
    display:none;
  }
  aside {width:100%; padding:10px;float:none;height: auto;font-size: 15px;}
  main {width:100%;
  padding:10px;margin: -10px;font-size: 13px; height: auto;}

  footer{width:100%; padding:10px; height: auto; margin:-8px;}

  .wrapper{width:100%; height: auto;}

}
